*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEFFEE;
}
.container{
    max-width: 1140px;
    margin: auto;
}
header{
    padding: 2rem 0;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}
.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-header .back{
    display: flex;
    gap: 10px;
    align-items: center;
}
.top-header .fa-arrow-left{
    font-size: 2rem;
    color: black;
}
.top-header .back-home{
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.hamburger2{
    display: none;
}
.akun-info-container{
    display: flex;
}
.left-akun{
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.1);
    width: 30%;
    background-color: white;
    /* border-radius: 0 40px 0 0; */
    height: 100vh;
}
.left-akun .left-akun-top{
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 40px 0 0;
}
.left-akun .left-akun-top img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.left-akun .left-akun-bottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 12px;
    margin-top: 20px;
}
.menu-profile{
    /* width: 220px; */
    width: 100%;
    /* height: 50px; */
    background-color: #0077ff27;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.active{
    background-color: #0077ff71;
    color: white;
}
.right-akun{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 25px;
}
.right-akun .profil-saya-wrap{
    /* border: 1px solid black; */
    /* background-color: white; */
    /* box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.1); */
    padding: 10px 12px;
    width: 100%;
}
.right-akun .profil-saya-wrap h3{
    font-size: 28px;
}
.right-akun .profil-saya-info{
    background-color: white;
    /* box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.1); */
    border: 1px solid rgb(161, 161, 161);
    padding: 10px 12px;
    text-align: left;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.profil-saya-img-wrap{
    border-left: 1px solid rgb(179, 179, 179);
    padding: 10px;
}
.profil-saya-img-wrap .img-bg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(224, 224, 224, 0.685);
    background-image: url('../images/suga.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.img-bg-update{
    margin: 10px 0;
    text-align: center;
}
.img-bg-update p{
    text-align: left;
}
.img-bg-update button{
    margin-bottom: 10px;
}
.btn-update{
    padding: 14px 26px;
    cursor: pointer;
    color: white;
    background-color: #4F709C;
}
.btn-update:hover{
    box-shadow: 2px 0 10px #4F709C;
}
th,td{
    padding: 20px 20px 20px 0;
}
button{
    border: none;
}